.about{
    margin: 100px auto;
    width: 90%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    
    border-radius: 10px;
    box-shadow: 10px 10px 5px 12px rgb(46, 44, 44);
}
.about-left{
    flex-basis: 40%;
}

.about h1{
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 40px;
    color: white;
}
.about p{
    font-size: 20px;
    line-height: 1.5;
    text-align:justify ;
    margin-top: 10px;
    color: rgb(115,115,115);
}
 .about-right img{
    width: 380px;
    border-radius: 50%;
    box-shadow: 2px 10px 33px #b15793;
}
.about p span{
    color: #b15793;
    font-weight: bold;
}
